/* Universal across all pages */
h1 {
  color: #b3995d;
  margin-top: 1.3rem;
  margin-bottom: 0;
  text-shadow: 1px 1px 2px black;
}

h2 {
  color: #b3995d;
  margin: 1.3rem;
  text-shadow: 1px 1px 2px black;
}

h3 {
  text-shadow: 0.75px 0.75px 1.5px black;
}

h4 {
  text-shadow: 0.5px 0.5px 1px black;
}

label {
  font-size: 1.3rem;
  margin-bottom: 1%;
}

a img:hover {
  transform: scale(1.1);
}

main > div > img {
  padding-bottom: 1rem;
}

.block {
  background-color: #aa0000;
  color: white;
  border: 0.5rem solid #b3995d;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  letter-spacing: 0.3rem;
  font-size: 1.6rem;
  margin: 5px;
}

.block a {
  transition: all 0.4s ease-in-out 0.2s;
}

.block2 {
  background-color: #b3995d;
  color: white;
  border: 0.5rem solid #aa0000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  letter-spacing: 0.3rem;
  font-size: 1.6rem;
  margin: 5px;
}

.block2 ul {
  list-style: none;
  text-align: left;
}

/* Index page section */
.home > img {
  width: 90%;
}

/* About page section */
#interests {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.3rem;
  width: 80%;
  margin-bottom: 1.3rem;
}

.one {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.two {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.three {
  grid-column: 2;
  grid-row: 1 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.four {
  grid-column: 3;
  grid-row: 1 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.five {
  grid-column: 4;
  grid-row: 1 /2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.six {
  grid-column: 4;
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-hover {
  transition: all 0.4s ease-in-out 0.2s;
}

.image-hover:hover {
  cursor: help;
  transform: scale(1.05);
}

.hover-info {
  margin-top: 0;
}

.education {
  align-items: flex-start;
}

.title {
  color: #aa0000;
  margin: 0.3rem 0rem;
}

.company {
  color: #aa0000;
}

.company a {
  color: #aa0000;
  text-decoration: none;
}

.date {
  font-weight: bold;
  color: white;
}

.job {
  padding-bottom: 0.1rem;
}

.job ul ul li {
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
}

.location {
  font-size: 1.3rem;
  font-weight: normal;
}

.block2 h2 {
  color: #aa0000;
}

/* Contact Page Section */
.contact-left > h3 {
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

.contact-link-section a img {
  width: 10%;
  padding: 0 5%;
  transition: all 0.3s ease-in;
}

.preferred-contact section {
  padding-top: 1%;
  display: flex;
  flex-direction: column;
}

.contact-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-area h3 {
  color: #b3995d;
  text-shadow: 1px 1px 2px black;
}

.contact-box {
  border-radius: 1rem;
  box-shadow: 4px 4px 2px 1px black;
}

.contact-right {
  background-color: #aa0000;
  box-sizing: border-box;
  flex: 1 1 70%;
  margin: 5%;
  padding: 1.3rem;
  box-shadow: 4px 4px 2px 1px black;
}

.contact-left {
  background-color: #aa0000;
  box-sizing: border-box;
  flex: 1 1 30%;
  margin: 5%;
  padding: 1.3rem;
}

.contact-link-section {
  text-align: center;
}

.input-box {
  border-radius: 0.2rem;
  width: 95%;
  font-size: 1rem;
}

.form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(6 1fr);
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.6rem;
}

.contact-heading {
  grid-column: 1 / 3;
  grid-row: 1;
}

.contact-heading h3 {
  margin: 0;
}

.name {
  margin-top: 4%;
  grid-column: 1;
  grid-row: 2;
}

.email {
  grid-column: 1;
  grid-row: 4;
}

.phone-number {
  grid-column: 1;
  grid-row: 3;
}

.phone-number label {
  width: 66%;
}

.phone-number input {
  width: 36%;
}

.preferred-contact {
  display: flex;
  flex-direction: column;
}

.preferred-contact div {
  font-size: 1rem !important;
}

.message {
  grid-column: 2;
  grid-row: 2 / 6;
  flex-direction: column;
}

.message-block {
  width: 100%;
}

.message-box {
  height: 100%;
  margin-top: 0.5%;
}

.button-area {
  grid-column: 1 / 3;
  grid-row: 6;
}

.submit-button {
  border-radius: 1rem;
  height: 30px;
  width: 150px;
  background-color: #b3995d;
  font-weight: 600;
  font-size: 1.3rem;
  color: #aa0000;
  transition: all 0.4s ease-in-out 0.2s;
  box-shadow: 2px 2px 1px 0.5px black;
}

.submit-button:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 4px 4px 2px 1px black;
}

/* My Portfolio Page */
/* .github {
  transition: all 0.5s ease-in;
  text-decoration: none;
}

.github:hover {
  transform: scale(1.03);
  /* text-shadow: 2.3px 2.3px 3.6px black; */
/* } */

/* .github h2 {
  color: white;
  transition: all 0.5s ease-in;
  text-shadow: 1px 1px 2px black;
}

.github h2:hover {
  text-shadow: 2.3px 2.3px 3.6px black;
} */
*/ .block2 h2 {
  color: #aa0000;
}

/* Link Section */
.link {
  transition: all 0.5s ease-in-out 0.2s;
  text-decoration: none;
}

.link:hover {
  transform: scale(1.03);
}

.link-header {
  color: white;
  transition: all 0.5s ease-in-out 0.2s;
  text-shadow: 1px 1px 2px black;
}

.link-header:hover {
  text-shadow: 2.3px 2.3px 3.6px black;
}

/* Header Section */
.header-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-shadow: 1px 1px 2px black;
}

.header-links:hover {
  text-shadow: 2px 2px 4px black;
}

.header-links a {
  color: white;
  padding: 0 10px;
}

/* Footer Section */
.footer-link-section {
  display: block;
  align-items: center;
  justify-content: space-around;
}

.footer-link-section a img {
  width: 4%;
  padding: 1% 2.5% 0.5% 2.5%;
  transition: all 0.3s ease-in;
}

.footer-link-section > a:hover {
  transform: scale(1.1);
}

/* Media querries for contact section so it doesnt get so ugly */
@media (max-width: 1400px) {
  /* Media querries for contact page */
  .contact-left {
    flex: 1 1 40%;
    text-align: center;
  }

  .contact-right {
    flex: 1 1 60%;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
  }

  .preferred-contact section {
    padding-top: 1%;
    display: flex;
    flex-direction: column;
  }
}

/* Tablet Media Querires */
@media (max-width: 1000px) {
  /* Media Querires for about Page. */
  #interests {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .one {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .two {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .three {
    grid-column: 2;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .four {
    grid-column: 1;
    grid-row: 3 / 5;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .five {
    grid-column: 2;
    grid-row: 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .six {
    grid-column: 2;
    grid-row: 4;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Mobile Media Querires */
@media (max-width: 850px) {
  /* Medi querries for contact page */
  .contact-area {
    flex-direction: column;
  }
}

@media (max-width: 660px) {
  /* Media Queries for about page */
  #interests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ul {
    padding-left: 1%;
  }

  ul h3 {
    padding-left: 1%;
  }

  .block2 h2 {
    margin-left: 1%;
  }

  .header-links p {
    visibility: none;
  }

  .header-links > p:nth-child(4) {
    display: none;
  }

  .header-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
