h1 {
  color: #b3995d;
  margin-top: 1.3rem;
  margin-bottom: 0;
}

h2 {
  color: #b3995d;
  margin: 1.3rem;
}

label {
  font-size: 1.3rem;
  margin-bottom: 1%;
}

.contact-link-section a img {
  width: 10%;
  padding: 0 5%;
  transition: all 0.3s ease-in;
}

a img:hover {
  transform: scale(1.1);
}

main > div > img {
  padding-bottom: 1rem;
}

#interests {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.3rem;
  width: 80%;
  margin-bottom: 1.3rem;
}

.one {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.two {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.three {
  grid-column: 2;
  grid-row: 1 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.four {
  grid-column: 3;
  grid-row: 1 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.five {
  grid-column: 4;
  grid-row: 1 /2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.six {
  grid-column: 4;
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-area h3 {
  color: #b3995d;
}

.contact-box {
  border-radius: 1rem;
  /* border: 0.5rem solid white; */
  box-shadow: 4px 4px 2px 1px black;
}

.contact-right {
  background-color: #aa0000;
  box-sizing: border-box;
  flex: 1 1 70%;
  margin: 5%;
  padding: 1.3rem;
  box-shadow: 4px 4px 2px 1px black;
}

.contact-left {
  background-color: #aa0000;
  box-sizing: border-box;
  flex: 1 1 30%;
  margin: 5%;
  padding: 1.3rem;
}

.contact-link-section {
  text-align: center;
  /* height: 50px; */
}

/* .contact-link-section a img{
  width: 50px;
} */

.input-box {
  border-radius: 0.2rem;
  width: 95%;
  font-size: 1rem;
}

.form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(6 1fr);
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.6rem;
}

.contact-heading {
  grid-column: 1 / 3;
  grid-row: 1;
}

.contact-heading h3 {
  margin: 0;
}

.name {
  margin-top: 4%;
  grid-column: 1;
  grid-row: 2;
}

.email {
  grid-column: 1;
  grid-row: 4;
}

.phone-number {
  grid-column: 1;
  grid-row: 3;
}

.phone-number label {
  width: 66%;
}

.phone-number input {
  width: 36%;
}

.preferred-contact {
  display: flex;
  flex-direction: column;
}

.preferred-contact div {
  font-size: 1rem !important;
}

.message {
  grid-column: 2;
  grid-row: 2 / 6;
  flex-direction: column;
}

.message-block {
  width: 100%;
  /* padding: 0; */
}

.message-box {
  height: 100%;
  margin-top: 0.5%;
}

.button-area {
  grid-column: 1 / 3;
  grid-row: 6;
}

.submit-button {
  border-radius: 1rem;
  height: 30px;
  width: 150px;
  background-color: #b3995d;
  font-weight: 600;
  font-size: 1.3rem;
  color: #aa0000;
  transition: all 0.5s ease-in;
}

.submit-button:hover {
  cursor: pointer;
  /* opacity: 0.7; */
  transform: scale(1.05);
  box-shadow: 2px 2px 1px 0.5px black;
}

.block {
  background-color: #aa0000;
  color: white;
  border: 0.5rem solid #b3995d;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  letter-spacing: 0.3rem;
  font-size: 1.6rem;
  margin: 5px;
}

.hover-info {
  margin-top: 0;
}

.block2 {
  background-color: #b3995d;
  color: white;
  border: 0.5rem solid #aa0000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  letter-spacing: 0.3rem;
  font-size: 1.6rem;
  margin: 5px;
}

.education {
  align-items: flex-start;
}

.title {
  color: #aa0000;
  margin: 0.3rem 0rem;
}

.company {
  color: #aa0000;
}

.date {
  font-weight: bold;
  color: white;
}

.job {
  padding-bottom: 0.1rem;
}

.location {
  font-size: 1.3rem;
  font-weight: normal;
}

.github {
  color: white;
}

.github h2 {
  color: white;
}

.block2 h2 {
  color: #aa0000;
}

.header-links a {
  color: white;
  padding: 0 10px;
}

.block a {
  transition: all 0.5s ease-in;
}

.header-links a:hover {
  opacity: 0.7;
  background-color: #b3995d;
  transform: scale(0.98);
  border-radius: 0.5rem;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.block2 ul {
  list-style: none;
  text-align: left;
}

.job ul ul li {
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
}

.footer-link-section {
  display: block;
  align-items: center;
  justify-content: space-around;
}

.footer-link-section a img {
  width: 4%;
  padding: 1% 2.5% 0.5% 2.5%;
  transition: all 0.3s ease-in;
}

.footer-link-section > a:hover {
  transform: scale(1.1);
}

@media only screen (max-width: 800px;) {
  #interests {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .one {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .one {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .one {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .one {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .one {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .one {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
