.block {
  background-color: #aa0000;
  color: white;
  border: 0.5rem solid #b3995d;
  text-align: center;
  border-radius: 1rem;
  letter-spacing: 0.3rem;
  font-size: 1.6rem;
  margin: 5px;
}

.block2 {
  background-color: #b3995d;
  color: white;
  border: 0.5rem solid #aa0000;
  text-align: center;
  border-radius: 1rem;
  letter-spacing: 0.3rem;
  font-size: 1.6rem;
  margin: 5px;
}

.title {
  color: #aa0000;
  margin: 0.3rem 0rem;
}

.company {
  color: #aa0000;
}

.date {
  font-weight: bold;
  color: white;
}

.job {
  padding-bottom: 0.1rem;
}

.location {
  font-size: 1.3rem;
  font-weight: normal;
}

.github {
  color: white;
}

h1 {
  color: #b3995d;
  margin: 1.3rem;
}

h2 {
  color: #b3995d;
  margin: 1.3rem;
}

.block2 h2 {
  color: #aa0000;
}

.block a {
  color: white;
  padding: 10px;
}

.header-links {
  padding-bottom: 10px;
}

.block img {
  height: 600px;
  display: inline-block;
  margin: 1.2rem;
  margin-top: 0;
}

.block2 ul {
  list-style: none;
  text-align: left;
}
/* 
.block ul ul {
  color: white;
} */

/* .resume ul {
  text-align: left;
  list-style: none;
} */

.job ul ul li {
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
}
